<nav class="flex">
  <div class="logo"></div>

  <div class="search">
    <app-search></app-search>
    <!-- <input type="text" placeholder="Search restaurant" name="search" id="" /> -->
  </div>
  <a class="login">Login</a>
</nav>

<section>
  <div class="flex header">
    <h1>Restaurants results near you</h1>
    <div>
      {{
        _api.listRestaurants?.length +
          " restaurant" +
          " , " +
          _api.dish?.length +
          " dishes"
      }}
    </div>
  </div>
  <div class="flex btn-cont">
    <button
      [ngClass]="{ selected: _utill.isDishSelected == true }"
      (click)="_utill.Dish()"
    >
      dishes
    </button>
    <button
      [ngClass]="{ selected: _utill.isDishSelected == false }"
      (click)="_utill.Restaurant()"
    >
      restaurant
    </button>
  </div>

  <div class="cont">
    <app-dishes *ngIf="_utill.isDishSelected == true"></app-dishes>
    <app-restaurants *ngIf="_utill.isDishSelected == false"></app-restaurants>
  </div>
</section>
