nav {
  justify-content: space-between;
  padding: 7px;
  background: #bdbdbd26;
  backdrop-filter: blur(10px);
  margin: 9px;
  border-radius: 9px;
  align-items: center;
  .logo {
    background: url("https://tikusdelivery.com/static/media/redLogo.a1dfcaa2.svg")
      no-repeat;
    background-size: cover;
    background-position: center;
    width: 57px;
    height: 40px;
  }

  .login {
    padding: 6px 7px;
    background: #919191;
    border-radius: 6px;
    color: white;
    font-weight: 600;
  }
}

section {
  padding: 0 1rem 0 1rem;
  overflow: hidden;
  .header {
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    gap: 1rem;
    padding: 9px 0 12px 0px;
    border-bottom: 1px solid #0000002b;
    h1 {
      font-size: inherit;
      font-weight: inherit;
    }
    div {
      color: rgb(108, 108, 108);
      font-size: inherit;
      font-weight: inherit;
    }
  }
  .btn-cont {
    gap: 1rem;
    padding-bottom: 10px;
    button {
      border: none;
      background: transparent;
      font-weight: 600;
      text-transform: capitalize;
      padding: 7px 9px;
    }
  }
}
.selected {
  border-bottom: 4px solid #df0c13 !important;
}
