<section class="">
  <div *ngIf="_utill.isLoading == false" class="restaurants-cont flex">
    <div *ngFor="let item of _api.listRestaurants" class="items">
      <div
        [ngStyle]="{
          'background-image': ' url(' + item.restaurantImage + ')'
        }"
        class="image"
      ></div>
      <div class="cont grid">
        <div *ngIf="item.isOpen == 'true'" class="isOpen">Open</div>
        <div class="rating">{{ item.averageReview }}</div>
        <h1>{{ item.restaurantName }}</h1>
        <p>{{ item.cuisines?.replaceAll(".", "    ") }}</p>
        <h3>{{ item.displayTime }}</h3>
      </div>
    </div>
  </div>

  <!-- //loading -->
  <div *ngIf="_utill.isLoading" class="restaurants-cont flex overflow_hidden">
    <div *ngFor="let item of [0, 3, 4, 2, 5, 6, 3, 2]" class="items">
      <div class="skeleton image"></div>
      <div class="cont grid">
        <div id="skeleton" class="isOpen">Open</div>
        <div id="skeleton" class="rating">hi</div>
        <h1 class="skeleton">hi</h1>
        <p class="skeleton">hi</p>
        <h3 class="skeleton">hi</h3>
      </div>
    </div>
  </div>
</section>
